<table class="ui unstackable basic table talk">
  <thead>
    <tr><th colspan="2" class="header"><h3><a href="http://cursoprogramacao.rafaelbiriba.com" target="_blank" data-ga-click-event-category="Talks" data-ga-click-event-action="Curso Ruby" data-ga-click-event-detail="Title">Aprendendo a programar com ruby para iniciantes</a></h3></th>
  </tr></thead>
  <tbody>
    <tr class="top aligned">
      <td class="collapsing">
        <p class="calendar">
          <time datetime="2016-09-23" class="icon">
            <em>2020</em>
            <strong>August</strong>
            <span>11</span>
          </time>
        </p>
      </td>
      <td><p><i class="map pin icon"></i> <b>Where:</b> Youtube</p>
          <p><i class="file video outline icon"></i> <b>Video:</b> <a href="https://www.youtube.com/playlist?list=PLS2fc6xC9lt0D5ksSs-30Cz8qLpl7b43H" target="_blank" data-ga-click-event-category="Talks" data-ga-click-event-action="Curso - Youtube Playlist" data-ga-click-event-detail="Video">Youtube playlist<i class="external icon"></i></a> (Portuguese <i class="br flag"></i>)</p>
          <p><i class="browser icon"></i> <b>Description:</b>
             Basic programming course for beginners using Ruby. The idea behind this course is to bring the opportunity to teach programming to beginners, using all the ease that the ruby language offers. Classes are divided into topics, where I explain the basic part with exercises and correction with comments.
            <br/>Curso básico de programação para iniciantes utilizando Ruby. A idéia por trás desse curso é trazer a oportunidade para ensinar programação para iniciantes, utilizando toda a facilidade que a linguagem ruby oferece. As aulas estão divididas em tópicos, aonde eu explico a parte básica com exercícios e correção comentada.
        </p>
      </td>
    </tr>
  </tbody>
</table>
