<table class="ui unstackable basic table talk">
  <thead>
    <tr><th colspan="2" class="header"><h3><a href="http://www.slideshare.net/rafaelbiriba/blue-green-deploy-entrega-continua-e-rollback-imediato-qcon-rio-2014" target="_blank" data-ga-click-event-category="Talks" data-ga-click-event-action="Blue Green - QCon 2014 Rj" data-ga-click-event-detail="Title">Blue-Green Deployment: entrega contínua e rollback imediato</a></h3></th>
  </tr></thead>
  <tbody>
    <tr class="top aligned">
      <td class="collapsing">
        <p class="calendar">
          <time datetime="2014-09-25" class="icon">
            <em>2014</em>
            <strong>September</strong>
            <span>25</span>
          </time>
        </p>
      </td>
      <td><p><i class="map pin icon"></i> <b>Where:</b> QCon 2014, Rio de Janeiro/Brazil</p>
          <p><i class="checked calendar icon"></i> Room 6, 12:30 (<a href="http://qconrio.com/rio2014/presentation/blue-green-deployment-entrega-conti%CC%81nua-e-rollback-imediato.html" target="_blank" data-ga-click-event-category="Talks" data-ga-click-event-action="Blue Green - QCon 2014 Rj" data-ga-click-event-detail="Schedule">Schedule <i class="external icon"></i></a>)</p>
          <p><i class="file powerpoint outline icon"></i> <b>Presentation:</b> <a href="http://www.slideshare.net/rafaelbiriba/blue-green-deploy-entrega-continua-e-rollback-imediato-qcon-rio-2014" target="_blank" data-ga-click-event-category="Talks" data-ga-click-event-action="Blue Green - QCon 2014 Rj" data-ga-click-event-detail="Presentation">Slideshare <i class="external icon"></i></a> (Portuguese <i class="br flag"></i>)</p>
          <p><i class="file video outline icon"></i> <b>Video:</b> <a href="https://www.infoq.com/br/presentations/blue-green-deployment" target="_blank" data-ga-click-event-category="Talks" data-ga-click-event-action="Blue Green - QCon 2014 Rj" data-ga-click-event-detail="Video">Infoq website <i class="external icon"></i></a> (Portuguese <i class="br flag"></i>)</p>
          <p><i class="browser icon"></i> <b>Description:</b> Talk about the blue green deploy solution (continuous delivery and instant rollback) used in a lot of projects in globo.com. Read more at <a href="https://github.com/rafaelbiriba/cap_blue_green_deploy" target="_blank">cap_blue_green_deploy (github repo) <i class="external icon"></i></a></p>
      </td>
    </tr>
  </tbody>
</table>
