#talks {
  .table.talk {
    margin-top: 2em;
    .header {
      background-color: #ccc;
      a {
        color: inherit;
      }
    }

    .calendar {
      time.icon {
        font-size: 0.8em; /* change icon size */
        display: inline-block;;
        position: relative;
        width: 6em;
        height: 7em;
        background-color: #fff;
        border-radius: 0.6em;
        box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
        overflow: hidden;
      }

      time.icon * {
        display: block;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        font-style: normal;
        text-align: center;
      }

      time.icon strong {
        position: absolute;
        top: 0;
        padding: 0.4em 0;
        color: #fff;
        background-color: #666;
        border-bottom: 1px dashed #fff;
        box-shadow: 0 2px 0 #ccc;
      }

      time.icon em {
        position: absolute;
        bottom: 0.1em;
        color: #333;
      }

      time.icon span {
        font-size: 2.8em;
        letter-spacing: -0.05em;
        padding-top: 1.2em;
        color: #333;
      }
    }
  }
}
